$app-rgb: #1c5aec;

$sidebar-rgb: #16151e;
$editor-rgb: #323134;
$pickup-point-rgb: #272739;

$editor-default-rgb: #ffffff;
$editor-function-rgb: #138eca;
$editor-string-rgb: #e55074;
$editor-operation-rgb: #49c670;
$editor-number-rgb: #587968;

$editor-select-rgb: #5773ff66;
$editor-select-rgba: #5773ff66;
