.cm-s-pickup {
  * {
    cursor: default;
  }

  &.CodeMirror {
    font-family: 'Fica Mono', monospace;
    font-size: 2.5rem;
    background: $pickup-point-rgb;
  }

  & .CodeMirror-gutters {
    background: $pickup-point-rgb;
  }

  & div.CodeMirror-selected {
    background: rgba($color: #000000, $alpha: 0);
  }

  & .CodeMirror-line > span > span {
    cursor: default;
  }

  & .CodeMirror-line::selection,
  & .CodeMirror-line > span::selection,
  & .CodeMirror-line > span > span::selection {
    background: rgba($color: #000000, $alpha: 0);
  }
  & .CodeMirror-line::-moz-selection,
  & .CodeMirror-line > span::-moz-selection,
  & .CodeMirror-line > span > span::-moz-selection {
    background: rgba($color: #000000, $alpha: 0);
  }
}
