/* font-family: 'Muli', sans-serif; */
@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
/* font-family: 'Fredoka One', cursive; */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
/* font-family: 'Source Code Pro', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,600;1,400;1,600&display=swap');
/* font-family: 'Fira Mono', monospace; */
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');
